.flash-cards-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-cards-page header {
  display: flex;
  justify-content: center;
}

.flash-cards-page header img {
  height: 54px;
  position: absolute;
  top: 26px;
  left: 32px;
}

.flash-cards-page header .title {
  width: 73px;
  height: 33px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin: 80px 0 111px 0;
}

.flash-cards-page .card {
  width: 392px;
  height: 578px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-cards-page .card .card-number {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 18px;
  line-height: 21px;
}

.flash-cards-page .card .front-face h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.flash-cards-page .card .front-face button {
  position: absolute;
  right: 17px;
  bottom: 20px;
  border: none;
  background-color: #ffffff;
}

.flash-cards-page .card .front-face button img {
  width: 40px;
  height: 35px;
}

.flash-cards-page .card .back-face {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flash-cards-page .card .back-face h1 {
  margin-top: 19px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.flash-cards-page .card p {
  margin: 0 49px;
}

.flash-cards-page .card .back-face .button-box {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}
.flash-cards-page .card .back-face button {
  width: 65px;
  height: 48px;
  font-size: 10px;
  line-height: 12px;
  background-color: #ffffff;
  border-radius: 12px;
}

.flash-cards-page .card .back-face .button-1 {
  border: 3px solid #000000;
}

.flash-cards-page .card .back-face .button-2 {
  border: 3px solid #ff0000;
}
.flash-cards-page .card .back-face .button-3 {
  border: 3px solid #00ff00;
}
.flash-cards-page .card .back-face .button-4 {
  border: 3px solid #ffff00;
}

.flash-cards-page .card .back-face .button-4 span {
  font-weight: bold;
}
